.accountContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(257.2deg, var(--gradient1) 0%, var(--gradient2) 101.58%);

  svg {
    color: var(--primary);
  }

  button:first-child {
    display: flex;
    border: none;
    background: none;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Chivo";
      font-size: 1.25rem;
      text-align: center;
      color: var(--text);
      margin-top: 1.5rem;
    }

    div {
      margin-top: 1.5rem;
    }

    button {
      margin-top: 2.5rem;
    }
  }
}