.checkbox {
  display: flex;
  margin-top: 2rem;
  justify-content: center;

  label {
    margin-left: 0.75rem;
    font-family: "Chivo";
    font-weight: 300;
    font-size: 1rem;
    color: var(--secondary);
    margin-bottom: 0.5rem;
  }

  input {
    height: 1.3rem;
    width: 1.3rem;
  }
}