.accountContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(257.2deg, var(--gradient1) 0%, var(--gradient2) 101.58%);

  svg {
    color: var(--primary);
  }

  button:first-child {
    display: flex;
    border: none;
    background: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 1rem;
  }
}

.error {
  width: 100%;
  background-color: var(--alert);
  padding: 0.5rem;
  border-radius: 3px;
  margin: 2rem 0rem;

  p {
    text-align: center;
    font-family: "Chivo";
    font-size: 1rem;
    color: var(--background);
  }
}

.success {
  width: 100%;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 3px;
  margin: 2rem 0rem;

  p {
    text-align: center;
    font-family: "Chivo";
    font-size: 1rem;
    color: var(--background);
  }
  
}
