.container {
  padding: 0rem 15% 0rem 15%;

  display: flex;
}

.form {
  width: 70%;
  padding-bottom: 4rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1.3rem;
    border-radius: 6px;
    font-size: 14px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-image: linear-gradient(to right, #D8E6FC, #FFF);
    width: 100%;
  }
}

.next {
  margin-left: 10rem;
  background: blue;
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1.3rem;

  div:first-child {
    margin-right: 2rem;
  }
}

.stepContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 15% 0rem 15%;

  span {
    position: absolute;
    width: 66%;
    margin-left: 1rem;
    margin-top: 3.5rem;
    height: 0.5rem;
    background-color: var(--shape);
    z-index: -1;
  }
}
  

.stepText {
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

.stepBox {
  display: flex;
  max-width: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;

  button {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    background: var(--lightPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    div {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 1.4rem;
      background: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font: bold 1.5rem "Roboto Slab", sans-serif;
        color: var(--background);
      }
    }
  }
}

