.container {
  padding: 0rem 15% 0rem 15%;
  background-color: var(--background);

  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-gap: 4rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0rem;
    grid-gap: 1rem;
    padding: 0rem 5% 0rem 5%;
  }
}

.form {
  width: 100%;
  padding-bottom: 4rem;

  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text)
  }

  p {
    margin-bottom: 1.3rem;
    border-radius: 6px;
    font-size: 14px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-image: linear-gradient(to right, #D8E6FC, #FFF);
    width: 100%;
  }
}

.next {
  position: sticky;
  top: 0;

  height: 10rem;

  div:first-child {
    margin-top: 8rem;
    height: 20rem;
    width: 100%;
  }

  @media (max-width: 600px) {
    div:first-child {
      display: none;
    }
  }
}


.nextButtonContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    background: none;
    border: none;
  }

  button:first-child {
    margin-right: 2rem;
    border: 2px solid var(--alert);
    width: 8rem;
    padding: 0.4rem 0rem;
    border-radius: 8px;
    color: var(--alert);
    font-weight: bold;
  }

  button:last-child {
    background: var(--primary);
    border: 2px solid var(--primary);
    width: 50%;
    padding: 0.4rem 0rem;
    border-radius: 8px;
    color: var(--background);
    font-weight: bold;
  }

  button:hover {
    opacity: 0.6;
  }

  @media (max-width: 600px) {
    button {
      width: 100%;
    }
  }
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1.3rem;

  div:first-child {
    margin-right: 2rem;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    margin-bottom: 1.3rem;

    label {
      margin-top: 0.4rem;
    }
  }
}

.stepContainer {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 15% 0rem 15%;

  span {
    position: absolute;
    width: 66%;
    margin-left: 1rem;
    margin-top: 3.5rem;
    height: 0.5rem;
    background-color: var(--shape);
    z-index: 1;
  }

  @media (max-width: 600px) {
    padding: 0rem 5% 0rem 5%;

    span {
      width: 80%;
    }
  }
}


.stepText {
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  color: var(--text);

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.stepBox {
  display: flex;
  max-width: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 2;

  button {
    z-index: 2;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    div {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 1.4rem;
      background: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font: bold 1.5rem "Roboto Slab", sans-serif;
        color: var(--background);
      }
    }
  }
}

.stepBoxDisabled {
  button {
    background: var(--light);

    div {
      background-color:var(--shape);

      p {
        color: var(--shape3);
      }
    }
  }

  div {
    p {
      color: var(--light);
    }
  }
}

.addButton {
  width: 90%;
  height: 4rem;
  border-radius: 8px;
  border-color: var(--shape2);
  border-style: dashed;

  margin-bottom: 1rem;

  svg {
    color: var(--shape2);
  }
  
}

.line {
  width: 90%;
  height: 2px;
  margin: 2rem 0rem;  
  background-color: var(--text);
}

.fieldsContainer {
  button {
    background-color: var(--shape1);
    color: var(--alert);
    padding: 0.3rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid var(--alert);
    transition: 0.3s;
  }

  button:hover {
    opacity: 0.8;
  }
}

.checkbox {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;

  label {
    margin-left: 0.75rem;
    font-family: "Chivo";
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 0.5rem;
  }

  input {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.error {
  width: 100%;
  background-color: var(--alert);
  padding: 0.5rem;
  border-radius: 3px;
  margin: 2rem 0rem;

  span {
    text-align: center;
    font-family: "Chivo";
    font-size: 1rem;
    color: var(--light);
  }
}
