.headerStyle {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 15% 0.5rem 15%;
  background: linear-gradient(257.2deg, var(--gradient1) 0%, var(--gradient2) 101.58%);

  @media (max-width: 600px) {
    padding: 0.5rem 5% 0.5rem 5%;
  }

  button {
    background: none;
    border: none;
    margin: 0.5rem;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.accessibilityContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 600px) {
    display: none;
  }
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 54px;
  height: 54px;
  border: 3px solid var(--shape3);
  border-radius: 29px;

  margin-left: 1rem;

  list-style: none;
  background: none;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 29px;

    img {
      width: 54px;
      height: 54px;
      border-radius: 29px;
    }
  }

}

.dropdownContent {


  z-index: 4;
  display: flex;
  flex-direction: column;

  position: absolute;
  background: var(--background);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--shape);
  border-radius: 8px;
  margin-left: 1rem;
  margin-top: 0.25rem;

  p {
    font-family: "Chivo";
    font-size: 1.15rem;
    color: var(--text);
  }

  small {
    font-family: "Chivo";
    font-size: 0.85rem;
    font-weight: 200;
    color: var(--text);
  }

  button {
    width: 100%;
    padding: 1rem;
    margin: 0.1rem 0rem 0.1rem 0rem;
    height: 2.3rem;

    display: flex;
    align-items: center;

    font-family: "Chivo";
    font-size: 1rem;
    color: var(--text);

    svg {
      margin-right: 0.3rem;
    }
  }

  button:last-child {
    color: var(--alert);
  }

  button:hover {
    background: var(--shape);
  }

  @media (max-width: 600px) {
    right: 0;
  }
}

.dropUserContent {
  padding: 1rem;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--shape);
}

.accessibilityScroll {
  @media (min-width: 600px) {
    display: none;
  }
}