.headerStyle {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 0rem 2rem 0rem;

  background: linear-gradient(257.2deg, #9482FE 0%, #3988F6 101.58%);
}