* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f0f0fc;
}

body::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

:root {
  --background: #ffffff;
  --primary: #3988f6;
  --primary2: #3988f6;
  --primaryDark: #2f72d1;
  --lightPrimary: #d8e6fc;
  --secondary: #060606;
  --tertiary: #9482fe;
  --shapeLight: #e9e9e9;
  --shape: #f0f0f0;
  --shapeDark: #c4c4c4;
  --alert: #e33d3d;
  --dark: #f0f0fc;
  --font: #060606;
  --font2: #ffffff;
  --gradient1: #9482fe;
  --gradient2: #3988f6;
}

[data-theme='dark'] {
  --background: #060606;
  --primary: #060606;
  --primary2: #f0f0f0;
  --primaryDark: #212121;
  --lightPrimary: #f0f0f0;
  --secondary: #fff;
  --tertiary: #9482fe;
  --shapeLight: #fff;
  --shape: #060606;
  --shapeDark: #fff;
  --alert: #e33d3d;
  --dark: #fff;
  --font: #f0f0fc;
  --font2: #fff;
  --gradient1: #060606;
  --gradient2: #060606;
}

body {
  background: var(--background);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto Slab", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}